h1 {
    color: #7F9A93;
}

h2 {
    color: #7F9A93;
}

body {
    background-color: #FFFDF4; /* Change this color to whatever you like */
    /* margin: 0; /* Optional: remove default margin */
    /* padding: 0; /* Optional: remove default padding */
    /* font-family: Arial, sans-serif; Optional: set a default font */ 
  }
  